.selfie {
  float: right;
  padding: 1em;
  transition: width 1s;
  width: 25%;
}
@media screen and (width <= 30em) {
  .selfie {
    width: 100%;
  }
}

.mimimi {
  width: 100%;
  padding: 1em;
}

.instax-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  padding: 0.5em 1.5em;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
}
.instax {
  max-height: 10em;
  max-width: 10em;
}

.instax-bg {
  position: relative;
  margin: 0 auto;
  padding: 1em 0;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}
