.selfie-left, .selfie-right {
  padding: 1em;
  transition: padding 1s, width 1s;
  width: 25%;
}
.selfie-left {
  float: left;
}
.selfie-right {
  float: right;
}
@media screen and (width <= 30em) {
  .selfie-left, .selfie-right {
    padding: 2em;
    width: 100%;
  }
}

.mimimi {
  width: 100%;
  padding: 1em;
}

.instax-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  padding: 0.5em 1.5em;
  gap: 1em;
  align-items: center;
  justify-content: space-evenly;
}
.instax {
  max-height: 10em;
  max-width: 10em;
}

.instax-bg {
  position: relative;
  margin: 0 auto;
  padding: 1em 0;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}
