* {
  box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
	color: white;
}

h1, h2 {
	background-image: linear-gradient(#cccccc 10%, #808080 60%, #333333 80%, #cccccc);
  border-radius: 0.25em;
  margin: 0;
  padding: 0.25em 0.5em;
	text-shadow: 3px 3px 5px black;
  width: 100%;
}

p {
  margin: 1em;
}

.center-text {
	text-align: center;
	width: 100%;
}

.dimmer-bg {
	background-image: radial-gradient(circle, black, rgba(0,0,0,0));
}

.laser-border {
  border: 25px solid transparent;
	border-image: url("../img/border_orange.png") 38 stretch;
}

.laser-border-blue {
  border: 25px solid transparent;
	border-image: url("../img/border_blue.png") 38 stretch;
}