* {
  box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
	color: white;
}

.center-text {
	text-align: center;
	width: 100%;
}

.dimmer-bg {
	background-image: radial-gradient(circle, black, rgba(0,0,0,0));
}

.laser-border {
  border: 25px solid transparent;
	border-image: url("../img/border_orange.png") 38 stretch;
}