:root {
	font-family: Helvetica, sans-serif;
	font-size: medium;
	color: white;
}

.center-text {
	text-align: center;
	width: 100%;
}

.index {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
}

.global-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -2;
	background-image: url("../img/global_bg.jpeg");
}

.global-top-border {
	position: absolute;
	top: 0;
	height: 1.8em;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient(#cccccc 10%, #808080 60%, #333333 80%, #cccccc);
}

nav {
	padding: 0.5em 2em 1.5em;
	width: fit-content;
	border-radius: 0px 0px 100% 100%;
	background-image: radial-gradient(ellipse at 5% 5%, #cccccc 23%, #808080 46%, #333333 80%, #cccccc)
}

nav a {
	padding: 0.75em;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-shadow: 3px 3px 5px black;
}
nav a:hover {
	text-shadow: 0px 0px 10px #ffbf00, 0px 0px 3px red;
}
nav a:focus {
	text-shadow: 0px 0px 10px #ffbf00, 0px 0px 3px red;
	outline: 2px ridge orange;
}

iframe {
	display: block;
	width: calc(100% - /*padding*/ 2*25px);
	max-width: 900px;
	height: 100%;
	/* border */
	border: 25px solid transparent;
	border-image: url("../img/border_orange.png") 38 stretch;
	background-image: radial-gradient(circle, black, rgba(0,0,0,0));
}