.featured-art, .selfie {
  width: 100%;
  padding: 1em;
}

.about-intro {
  align-items: center;
  grid-template-columns: 25% 75%;
  display: grid;
}
@media screen and (width <= 30em) {
  .about-intro {
    grid-template-columns: 100%;
  }
}